/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.wrap {
  color: brown;
  background: #f7f2e5; }

.header {
  width: 100%;
  height: 420px;
  background: url("../imgs/header_desktop.png");
  background-position: center center;
  background-size: cover; }
  .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 56px;
    background: rgba(0, 0, 0, 0.8); }
    .header nav .logo {
      margin-left: 42px;
      line-height: 56px; }
      .header nav .logo a img {
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px); }
      .header nav .logo h1 {
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden; }
    .header nav .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 48px; }
      .header nav .menu li {
        width: 100px;
        text-align: center; }
        .header nav .menu li:hover {
          background: orange;
          cursor: pointer; }
          .header nav .menu li:hover a {
            color: white; }
        .header nav .menu li a {
          text-decoration: none;
          color: gray;
          display: block;
          line-height: 56px; }
    .header nav .hambugarBar {
      display: none;
      color: white;
      font-size: 24px;
      margin: 16px 22px; }
  .header .title {
    width: 462px;
    height: 152px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 70px auto; }
    .header .title h2 {
      font-size: 36px;
      padding: 20px; }
    .header .title h4 {
      font-size: 20px;
      margin-bottom: 10px; }

@media (max-width: 414px) {
  .header {
    background: url("../imgs/header_mobile.png");
    background-position: center center;
    background-size: cover; }
    .header nav {
      position: relative; }
      .header nav .logo {
        margin-left: 13px; }
      .header nav .hambugarBar {
        display: block; }
      .header nav .menu {
        position: absolute;
        top: 100%;
        display: block;
        margin: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.5s;
        -o-transition: max-height 0.5s;
        transition: max-height 0.5s; }
        .header nav .menu li {
          width: 100%;
          background: rgba(0, 0, 0, 0.6);
          text-align: left;
          padding-left: 10px; }
          .header nav .menu li a {
            color: white; }
        .header nav .menu li:not(:last-child) {
          border-bottom: 2px solid gray; }
      .header nav .menu.menu-show {
        max-height: 170px; }
    .header .title {
      width: 300px;
      height: 194px; } }

.contentPortrait .featureArea {
  padding: 50px 20px; }
  .contentPortrait .featureArea .featureTitle {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px; }
    .contentPortrait .featureArea .featureTitle p {
      margin-bottom: 10px; }
  .contentPortrait .featureArea .featureList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contentPortrait .featureArea .featureList .feature {
      text-align: center; }
      .contentPortrait .featureArea .featureList .feature img {
        border-radius: 50%; }
      .contentPortrait .featureArea .featureList .feature h3 {
        text-align: center;
        font-size: 24px;
        margin: 20px 0 10px 0; }
      .contentPortrait .featureArea .featureList .feature p {
        text-align: left;
        width: 70%;
        margin: 0 auto;
        line-height: 1.5; }

.contentPortrait .chefArea {
  background: #460a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white; }
  .contentPortrait .chefArea img {
    margin-left: 42px;
    width: 50%; }
  .contentPortrait .chefArea .chefContent {
    padding: 30px;
    line-height: 1.5; }
    .contentPortrait .chefArea .chefContent h2 {
      margin-top: 51px;
      font-size: 24px; }
    .contentPortrait .chefArea .chefContent p {
      margin-top: 10px;
      text-indent: 2em; }

.contentPortrait .avatarArea {
  padding: 40px 42px; }
  .contentPortrait .avatarArea > h3 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 32px; }
  .contentPortrait .avatarArea .avatars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contentPortrait .avatarArea .avatars .avatar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .contentPortrait .avatarArea .avatars .avatar img {
        height: 67px;
        width: 67px;
        border-radius: 50%; }
      .contentPortrait .avatarArea .avatars .avatar .avatarContent {
        margin-left: 10px; }
        .contentPortrait .avatarArea .avatars .avatar .avatarContent h3 {
          font-size: 24px;
          margin-bottom: 10px; }
        .contentPortrait .avatarArea .avatars .avatar .avatarContent p {
          line-height: 1.5;
          text-indent: 2em; }
        .contentPortrait .avatarArea .avatars .avatar .avatarContent span {
          float: right;
          display: block;
          margin-top: 10px; }

.contentPortrait .mapArea {
  height: 588px;
  background: #f3f3f3;
  padding: 50px 42px; }
  .contentPortrait .mapArea h3 {
    text-align: center;
    font-size: 32px; }
  .contentPortrait .mapArea .mapContent {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px; }
    .contentPortrait .mapArea .mapContent img {
      width: 50%; }
    .contentPortrait .mapArea .mapContent .form {
      margin-left: 30px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contentPortrait .mapArea .mapContent .form .name input, .contentPortrait .mapArea .mapContent .form .tel input, .contentPortrait .mapArea .mapContent .form .email input, .contentPortrait .mapArea .mapContent .form .people input {
        width: 100%;
        margin: 10px 0;
        height: 32px;
        border-radius: 5px;
        border: 0;
        font-size: 100%; }
      .contentPortrait .mapArea .mapContent .form .vegetarian {
        margin: 10px 0; }
        .contentPortrait .mapArea .mapContent .form .vegetarian h4 {
          margin-bottom: 5px; }
      .contentPortrait .mapArea .mapContent .form .buttons {
        -ms-flex-item-align: end;
        align-self: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .contentPortrait .mapArea .mapContent .form .buttons .cancel {
          width: 70px;
          height: 32px;
          background: #e0dddd;
          text-align: center;
          line-height: 32px;
          text-decoration: none;
          display: block;
          color: white;
          border-radius: 5px;
          cursor: pointer;
          margin-right: 15px; }
        .contentPortrait .mapArea .mapContent .form .buttons .submit {
          width: 70px;
          height: 32px;
          background: orange;
          text-align: center;
          line-height: 32px;
          text-decoration: none;
          display: block;
          color: white;
          border-radius: 5px;
          cursor: pointer; }

@media (max-width: 768px) {
  .contentPortrait .featureArea {
    padding: 50px 10px; }
    .contentPortrait .featureArea .featureList .feature p {
      text-indent: 2em; }
  .contentPortrait .chefArea img {
    margin-left: 0; }
  .contentPortrait .chefArea .chefContent h2 {
    margin-top: 50px; }
  .contentPortrait .avatarArea {
    padding: 50px 10px; }
    .contentPortrait .avatarArea .avatars .avatar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contentPortrait .avatarArea .avatars .avatar img {
        display: block;
        margin: 0 auto 20px auto; }
      .contentPortrait .avatarArea .avatars .avatar .avatarContent h3 {
        text-align: center; }
  .contentPortrait .mapArea {
    padding: 30px 15px; }
  .contentPortrait .avatarArea {
    margin-bottom: 30px; } }

@media (max-width: 414px) {
  .contentPortrait .featureArea .featureList {
    display: block; }
    .contentPortrait .featureArea .featureList .feature {
      margin-bottom: 30px; }
  .contentPortrait .chefArea {
    display: block; }
    .contentPortrait .chefArea img {
      width: 100%;
      height: 460px;
      margin-left: 0; }
    .contentPortrait .chefArea .chefContent h2 {
      margin-top: 0; }
  .contentPortrait .avatarArea {
    height: auto;
    padding: 50px 10px; }
    .contentPortrait .avatarArea .avatars {
      display: block; }
      .contentPortrait .avatarArea .avatars .avatar {
        margin-bottom: 20px; }
  .contentPortrait .mapArea {
    height: auto;
    padding: 50px 10px; }
    .contentPortrait .mapArea .mapContent {
      display: block; }
      .contentPortrait .mapArea .mapContent img {
        width: 100%;
        height: 400px; }
      .contentPortrait .mapArea .mapContent .form {
        margin: 0;
        margin-top: 20px; } }

.contentCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px 0 30px; }
  .contentCart .sidebar {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
    margin-right: 20px; }
    .contentCart .sidebar h2 {
      font-size: 24px;
      margin-bottom: 16px; }
      .contentCart .sidebar h2 i {
        margin-right: 5px; }
    .contentCart .sidebar ul li {
      border-bottom: 2px solid brown;
      padding: 10px;
      font-size: 20px; }
      .contentCart .sidebar ul li:hover {
        background: brown;
        color: white;
        cursor: pointer; }
  .contentCart .list {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(80% - 20px);
    flex: 1 1 calc(80% - 20px); }
    .contentCart .list .barList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .contentCart .list .barList .searchBar {
        width: 460px;
        height: 32px;
        position: relative; }
        .contentCart .list .barList .searchBar input {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 90%;
          outline: 0;
          border: 2px solid brown;
          padding: 0;
          font-size: 100%; }
        .contentCart .list .barList .searchBar button {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 10%;
          background: brown;
          color: white;
          outline: 0;
          border: 0;
          padding: 0;
          cursor: pointer; }
          .contentCart .list .barList .searchBar button a {
            text-decoration: none;
            color: white; }
      .contentCart .list .barList .goToPay {
        text-align: right;
        margin-right: 20px; }
        .contentCart .list .barList .goToPay * {
          padding: 5px 10px;
          line-height: 22px;
          color: brown; }
        .contentCart .list .barList .goToPay a:first-child {
          border-right: 3px solid brown;
          text-decoration: none; }
    .contentCart .list .foodList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-top: 50px; }
      .contentCart .list .foodList li {
        width: 220px;
        height: 280px;
        -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
        margin: 0 20px 20px 0;
        border-radius: 5px;
        overflow: hidden; }
        .contentCart .list .foodList li .product1Pic {
          height: 40%;
          background-size: cover;
          background-position: center center;
          margin-bottom: 20px;
          background: url("../imgs/product_1.png"); }
        .contentCart .list .foodList li .product2Pic {
          height: 40%;
          background-size: cover;
          background-position: center center;
          margin-bottom: 20px;
          background: url("../imgs/product_2.png"); }
        .contentCart .list .foodList li .product3Pic {
          height: 40%;
          background-size: cover;
          background-position: center center;
          margin-bottom: 20px;
          background: url("../imgs/product_3.png"); }
        .contentCart .list .foodList li .product4Pic {
          height: 40%;
          background-size: cover;
          background-position: center center;
          margin-bottom: 20px;
          background: url("../imgs/product_4.png"); }
        .contentCart .list .foodList li h2, .contentCart .list .foodList li h4 {
          text-align: center; }
        .contentCart .list .foodList li h2 {
          font-size: 24px; }
        .contentCart .list .foodList li h4 {
          font-size: 14px; }
        .contentCart .list .foodList li span {
          display: block;
          text-align: center;
          margin-top: 20px;
          font-size: 24px; }
        .contentCart .list .foodList li a {
          border: 2px solid orange;
          margin: 20px auto 0 auto;
          width: 200px;
          height: 24px;
          background: transparent;
          text-align: center;
          line-height: 24px;
          text-decoration: none;
          display: block;
          color: white;
          border-radius: 5px;
          cursor: pointer;
          color: orange;
          cursor: pointer; }
          .contentCart .list .foodList li a:active {
            background: orange;
            color: white; }
          .contentCart .list .foodList li a i {
            margin-right: 10px; }

@media (max-width: 768px) {
  .contentCart {
    padding: 50px 20px; }
    .contentCart .sidebar {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
      flex: 1 1 40%; }
    .contentCart .list {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(60% - 20px);
      flex: 1 1 calc(60% - 20px); }
      .contentCart .list .barList .searchBar {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%; }
      .contentCart .list .barList .goToPay {
        margin: 0; }
      .contentCart .list .foodList li {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 20px);
        flex: 1 1 calc(50% - 20px); }
        .contentCart .list .foodList li:nth-child(2n) {
          margin: 0; } }

@media (max-width: 414px) {
  .contentCart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contentCart .sidebar {
      margin: 0;
      margin-bottom: 20px; }
    .contentCart .list {
      width: 100%; }
      .contentCart .list .barList .searchBar {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
        flex: 1 1 60%; }
      .contentCart .list .barList .goToPay {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
        flex: 1 1 40%; }
        .contentCart .list .barList .goToPay > *:nth-child(1) {
          padding-left: 0; }
        .contentCart .list .barList .goToPay > *:nth-child(2) {
          padding-right: 0; }
      .contentCart .list .foodList {
        margin-top: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .contentCart .list .foodList li {
          margin: 30px 0;
          -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
          flex: 1 1 100%;
          height: 350px; }
          .contentCart .list .foodList li > *:first-child {
            height: 50%;
            background-size: cover;
            background-position: center center; } }

.contentLogin h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 10px; }

.contentLogin h4 {
  text-align: center;
  font-size: 20px; }

.contentLogin .login {
  width: 300px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 0 15px 30px 15px;
  margin: 35px auto 10px auto;
  border-top: 5px solid orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .contentLogin .login label {
    margin-bottom: 5px; }
  .contentLogin .login h4 {
    text-align: center;
    margin: 15px 0; }
  .contentLogin .login input {
    border: 2px solid #c7c7c7;
    border-radius: 5px;
    height: 24px;
    outline: none;
    font-size: 100%;
    margin-bottom: 10px; }
  .contentLogin .login a {
    color: orange;
    text-decoration: none; }
  .contentLogin .login .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px; }
    .contentLogin .login .buttons .signUpBtn {
      width: 125px;
      height: 32px;
      background: #cecbcb;
      text-align: center;
      line-height: 32px;
      text-decoration: none;
      display: block;
      color: white;
      border-radius: 5px;
      cursor: pointer; }
    .contentLogin .login .buttons .signInBtn {
      width: 125px;
      height: 32px;
      background: orange;
      text-align: center;
      line-height: 32px;
      text-decoration: none;
      display: block;
      color: white;
      border-radius: 5px;
      cursor: pointer; }

.content {
  height: auto; }
  .content h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 10px; }
  .content h4 {
    text-align: center;
    font-size: 20px; }
  .content .register {
    width: 620px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 0 15px 20px 15px;
    margin: 35px auto 10px auto;
    border-top: 5px solid orange; }
    .content .register h4 {
      text-align: center;
      margin: 15px 0;
      font-weight: bold; }
    .content .register .registerContent {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .content .register .registerContent .terms {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%; }
        .content .register .registerContent .terms h3 {
          margin-bottom: 3px;
          font-size: 20px; }
        .content .register .registerContent .terms p {
          line-height: 1.5; }
      .content .register .registerContent .form {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 20px; }
        .content .register .registerContent .form input {
          border: 2px solid #c7c7c7;
          border-radius: 5px;
          height: 24px;
          outline: none;
          font-size: 100%; }
        .content .register .registerContent .form label {
          margin-bottom: 3px; }
        .content .register .registerContent .form #email, .content .register .registerContent .form #password, .content .register .registerContent .form #passwordRepeat {
          margin-bottom: 10px; }
        .content .register .registerContent .form span a {
          text-decoration: none;
          color: orange; }
        .content .register .registerContent .form .registerBtn {
          -ms-flex-item-align: end;
          align-self: flex-end;
          margin-top: 50px;
          width: 125px;
          height: 32px;
          background: orange;
          text-align: center;
          line-height: 32px;
          text-decoration: none;
          display: block;
          color: white;
          border-radius: 5px;
          cursor: pointer; }

@media (max-width: 414px) {
  .content .register {
    max-width: 90%;
    height: auto; }
    .content .register .registerContent {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .content .register .registerContent .terms {
        margin-bottom: 10px; }
      .content .register .registerContent .form {
        margin: 0; }
        .content .register .registerContent .form button {
          margin: 10px 0; } }

.footer {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 40px; }
  .footer .about {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.33%;
    flex: 1 1 33.33%;
    padding-right: 20px; }
    .footer .about h3 {
      font-size: 32px;
      padding-bottom: 16px; }
    .footer .about p {
      font-size: 16px; }
  .footer .contact {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.33%;
    flex: 1 1 33.33%; }
    .footer .contact h3 {
      font-size: 32px;
      padding-bottom: 16px; }
    .footer .contact ul {
      list-style: disc;
      padding-left: 20px; }
      .footer .contact ul li {
        margin-bottom: 5px;
        font-size: 16px; }
  .footer .logoFooter {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.33%;
    flex: 1 1 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .footer .logoFooter .iconsFooter {
      text-align: right;
      margin-top: 20px; }
      .footer .logoFooter .iconsFooter a {
        font-size: 36px;
        text-decoration: none;
        margin-right: 10px; }
        .footer .logoFooter .iconsFooter a:hover {
          cursor: pointer; }
        .footer .logoFooter .iconsFooter a .fa-google-plus-square {
          color: red; }
        .footer .logoFooter .iconsFooter a .fa-twitter-square {
          color: #46a2f8; }
        .footer .logoFooter .iconsFooter a .fa-facebook-square {
          color: #2222ff; }

@media (max-width: 768px) {
  .footer {
    padding: 50px 10px; }
    .footer .about {
      padding-left: 15px;
      padding-right: 0; }
    .footer .contact {
      padding-left: 40px;
      padding-right: 0; }
    .footer .logoFooter {
      padding-left: 0;
      padding-right: 10px; } }

@media (max-width: 414px) {
  .footer {
    height: auto;
    display: block;
    padding: 50px 10px 0 10px; }
    .footer .about {
      padding: 0;
      width: 100%;
      margin-bottom: 30px; }
      .footer .about h3 {
        font-size: 32px; }
    .footer .contact {
      width: 100%;
      padding: 0;
      margin-bottom: 30px; }
      .footer .contact h3 {
        font-size: 32px; }
      .footer .contact ul {
        padding-left: 20px; }
    .footer .logoFooter {
      padding: 0;
      width: 100%; }
      .footer .logoFooter .iconsFooter {
        font-size: 36px;
        margin-bottom: 50px; } }
