$textColor: brown;
$backgroundColor: #f7f2e5;
$mainColor: orange;
$headerHeight: 420px;
$navHeight: 56px;
$menuEachWidth: 100px;
$titleWidth: 462px;
$titleHeight: 152px;
$footerHeight: auto;
$fsFooterTitle: 32px;
$fsFooterPara: 16px;


@mixin hide-text {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin picSetting($picSrc) {
  background: url($picSrc);
  background-position: center center;
  background-size: cover;
}

@mixin productPic($productPicSrc) {
  height: 40%;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
  background: $productPicSrc;
}

@mixin btn($widthBtn, $heightBtn, $colorBtn) {
  width: $widthBtn;
  height: $heightBtn;
  background: $colorBtn;
  text-align: center;
  line-height: $heightBtn;
  text-decoration: none;
  display: block;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}